<br>
<h2>Teams: <%= @teams.count %> | Students: <%= @students.count %></h2>
<%= button_to "Match", {action: "match_teams"}, {class: "btn btn-primary"} %>
<table class="table">
  <th>Team</th>
  <th>Student</th>
  <th>Student</th>
  <th>Student</th>
  <th>Student</th>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <% team.students.each do |student| %>
        <td class="<%= student.java_expertise %>"><%= student.name %></td>
      <% end %>
    </tr>
  <% end %>
</table>
