<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchmaker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Top Navigation -->
<nav class="navbar navbar-dark bg-inverse">
  <span class="navbar-brand" href="#">Gatech Matchmaker</span>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <%= link_to "Form", students_path, { :class=>"nav-link" } %>
    </li>
    <li class="nav-item">
      <%= link_to "All Students", instructors_path, { :class=>"nav-link" } %>
    </li>
    <li class="nav-item">
      <%= link_to "Match Students", teams_path, { :class=>"nav-link" } %>
    </li>
  </ul>
</nav>

<!-- Branding span -->

<div class="thin-yellow">
</div>

<div class="container">
  <%= render partial: "shared/flash_messages", flash: flash %>
  <%= yield %>
</div>

  <%= render partial: "shared/footer"%>

</body>
</html>
